:host {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    z-index: 1050;
}

:host([hidden]) {
    display: none !important;
}

.spinner {
    position: fixed;
    top: 260px;
    left: 50%;
    z-index: 1051;
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}